.logoWithHat {
  position: relative;
  display: inline-block;
  line-height: 0;
}

.logoWithHat__logo {
  display: block;
}

.logoWithHat__hat {
  position: absolute;
  top: -28%;
  left: 62%;
  transform: translateX(-50%);
  width: 95%;
  height: auto;
  pointer-events: none;
  z-index: 2;
  user-select: none;
}
